/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Main */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.main {
    background-image: linear-gradient(to bottom, #2a1b52, #533b89 );
    color: #fff;
}
.main h4 {
    color: #fff;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Indicator */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#indicator {
    -webkit-transition: all 0.7s;
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
    line-height: 100px;
    color: #f11;
}
#indicator-title {
    font-family: "Helvetica Neue";
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    line-height: 36px;
    letter-spacing: 1px;
    color: #fff;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Header */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.header-margin {
    margin: 90px 0 280px 0;
}
.header-lead {
    text-align: center;
    font-size: 38px;
    margin: 0 0 40px 0;
}
.header-follow {
    text-align: center;
    margin: 20px 0 60px 0;
}
.pubnub-logo {
    height: 36px;
    margin: 0 0 13px 10px;
    padding: 0;
}
.tempodb-logo {
    margin: 0 10px 0 0;
    padding: 0;
    height: 40px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Interaction */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

#result {
    height: 500px;
}

.action-button {
    position: absolute;
    right: 20px;
    top: 20px;
}
pre {
    border-radius: 18px;
    margin: 0 0 20px 0;
    background: #3a2765;
    color: #eee;
    border: 0;
    padding: 40px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Utilities */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.relative {
    position: relative;
}

.btn-purple {
    background-color: #7966ac;
}

button,
textarea,
input {
    outline: none !important;
}
